/* Board.css */
.board-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.board-status {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.react-kanban-board {
    color: black;

}

.react-kanban-board > :nth-child(1) {
    width: 100%;
}

.react-kanban-board > :nth-child(1) > div {
    width: 24%;
}

.board-container {
    border: 1px solid black; /* Add a small black border */
    border-radius: 4px; /* Optional: Add border radius for rounded corners */
}

.react-kanban-column {
    background-color: var(--transparent-black);
    border-radius: 8px;
}

.react-kanban-column > :nth-child(2) > div > div {
    width: 100%;
}

.kanban-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 1rem;
    gap: 1.5rem;
    margin-top: 1.2rem;
    border-radius: 5px;
}

.kanban-card > :nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
}

.column-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}

.column-header > svg {
    cursor: pointer;
}

/* card.css */
.grid-c1 {
    display: flex;
    flex-direction: column;
}

.grid-c1-content {
    background: white;
    border-radius: 10px;
    padding: 16px;
    color: black;
}

.grid-c1-content .lg-value {
    margin-top: 8px;
    margin-bottom: 16px;
    color: black;
}

.grid-c1-content .expiry-text {
    margin-bottom: 6px;
}

.grid-c1-content .card-wrapper {
    display: flex;
}

.grid-c1-content .card-pin-hidden {
    font-size: 32px;
    margin-right: 8px;
}

.grid-c1-content span {
    color: black;
}

.grid-c1 .card-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-c1 .card-logo {
    display: flex;
}

.grid-c1 .logo-shape1,
.grid-c1 .logo-shape2 {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.grid-c1 .logo-shape1 {
    background-color: var(--clr-scarlet-v1);
    margin-right: -15px;
    z-index: 0;
}

.grid-c1 .logo-shape2 {
    background-color: var(--clr-yellow);
}

@media screen and (max-width: 768px) {
    .grid-c1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.stock-board {
    background: white;
    border-radius: 10px;
    padding: 16px;
    color: black;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-family: Gill Sans;
    transition: transform 0.3s, box-shadow 0.3s;
}

.stock-board:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0; /* Change the background color when hovering */
}

.stock-board .lg-value {
    margin-top: 8px;
    margin-bottom: 16px;
    color: black;
}

.stock-board .expiry-text {
    margin-bottom: 6px;
}

.stock-board .card-wrapper {
    display: flex;
}

.stock-board .card-pin-hidden {
    font-size: 32px;
    margin-right: 8px;
}

.stock-board span {
    color: black;
}

.red-price {
    color: red; /* Change the color to your desired color */
    /* Other styles for .red-price */
}

.stock-name {
    color: blue; /* Change the color to your desired color */
    margin-right: 10px; /* Add a gap between name and price */
    /* Other styles for .stock-name */
}

.price {
    /* Styles for .price */
}

.empty-board-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.empty-board-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.empty-board-message p {
    font-size: 18px;
    color: #555555;
    margin-bottom: 20px;
}

.empty-board-message p span {
    font-size: 28px;
    margin-left: 5px;
}

/* Optional: Adjust the styling to your preference */


