/* Profile.css */
.main-content {
    padding: 20px;
}

.user-details {
    padding: 20px; /* Add padding around the user details */
    display: grid;
    grid-gap: 30px; /* Increase spacing between user details */
    margin-top: 20px;
}

.user-detail {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px; /* Maintain spacing between user details */
}

.label {
    margin-right: 8px;
}

.verified {
    color: green;
}

/* Add more styles as needed */
